@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('./style/list.css');
@import url('./style/cards.css');
@import url('./style/button.css');

.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}